@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: 18px;
  --vit: #fdffff;
  --svart: #141115;
  --grå: #cccccc;
  --gråblå: #618194;
  --turkos: #08d5d9;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--vit);
  display: grid;
  grid-template: 10vh 5vh auto min-content / 1fr 50% 1fr;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border: 3px solid #d8d8d8;
  border-radius: 7px;
  box-shadow: inset ;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}

body.index {
  grid-template: 10vh 5vh 85vh min-content / 1fr 50% 1fr;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: var(--svart);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Source Serif Pro", serif;
  color: var(--svart);
}

header {
  grid-column-start: 2;
}

header a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  height: 100%;
  width: min-content;
}

header h1 {
  margin: 10px;
}

.weebkatt {
  position: absolute;
  display: none;
}

header:first-child:hover .weebkatt {
  display: block;
}

header:first-child img {
  max-height: 10vh;
  max-width: 90px;
}

nav {
  background-color: var(--gråblå);
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  border-top: #5f5f5f solid 2px;
  border-bottom: #5f5f5f solid 2px;
}

nav > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 2 / 3;
}

.nav-button {
  color: var(--svart);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--gråblå);
  text-align: center;
  padding: 0 auto;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: hsl(202, 21%, 45%);
  transition: background-color 0.3s;
}

[class|="dropdown-content"] {
  display: none;
  position: absolute;
  background-color: var(--vit);
  width: inherit;
}

[class|="dropdown-content"] * {
  display: block;
  color: var(--svart);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 1.5em;
}

[class|="dropdown-content"] *:hover {
  background-color: hsl(0, 0%, 95%);
}

.dropdown-om:hover .dropdown-content-om {
  display: block;
}

.dropdown-med:hover .dropdown-content-med {
  display: block;
}

.dropdown-sve:hover .dropdown-content-sve {
  display: block;
}

.dropdown-kon:hover .dropdown-content-kon {
  display: block;
}

main {
  grid-column: 1 / 4;
}

.suggestions {
  background-color: var(--vit);
  background-image: url("../images/samling.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.suggestions :first-child {
  margin-top: auto;
}

.suggestions p {
  font-size: 1.3rem;
  text-shadow: #ffffff 0 0 10px;
}

.suggestions a {
  padding: 1.5em;
  color: var(--svart);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  box-shadow: #3b3b3b 4px 4px 10px;
  transition: font-size 0.3s;
}

.suggestions a:hover {
  font-size: 1.65rem;
  transition: font-size 0.3s;
}

.highlighted {
  background-color: var(--turkos);
  transition: background-color 1.3s;
}

.highlighted:hover {
  background-color: hsl(181, 93%, 40%);
  transition: background-color 1.3s;
}

.caption {
  align-self: flex-end;
  margin: auto 5px 5px 5px;
  bottom: 0;
  right: 0;
}

footer {
  background-color: var(--grå);
  text-align: center;
  line-height: 1.75em;
  padding: 10px 0;
  grid-column: 1 / 4;
  border-top: black solid 2px;
}

address {
  font-size: 1rem;
  font-family: "Source Serif Pro", serif;
}
